<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"> 
        

    </head>
    <body>
        {{>header}}
        <p>{{name}}</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="coucou"></p>

        <p id="coucou2"></p>
        <script src="/js/app.js"></script>
    </body>
</html>